body, h1,  h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
    font-family: "Nunito", Helvetica,  arial, sans-serif;
    color: #B7B7B7;
}



* {
    box-sizing: border-box;
}

body {
    background:#0C0B0B ;
}


.container {
    display: flex;
    background: #0E0F10;
    width: 80%;
    height: 300px;
    margin: 100px auto;
    flex-wrap: wrap ;
}

.con-sup {
    border: blue solid 2px;
    margin: 0 auto;
    width: 700px;
    height: 160px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}



.bola {
    background: #1B1B1B;
    border: solid #1B1B1B 2px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 25px;
}

.texto {
    flex-wrap: wrap;
    color: #B7B7B7;
    border: black solid 2px;
    
}

.link {
    display: flex;
    background: #1B1B1B;
    border: #1B1B1B solid 2px;
    border-radius: 5px;
    width: 70px;
    height: 27px;
    margin: auto;
    align-self: flex-end;
    margin-right: 25px;
    
    

}

p {
    color: #B7B7B7;
}

img {
    width: 23px;
    height: 23px;
}

.con-valor {
    border: blue solid 2px;
    margin: 0 auto;
    width: 700px;
    height: 140px;
    display: flex;
}

@media (max-width: 600px) {
    .con-sup {
        display: block;
    }

    .bola {
        margin: 0 auto;
    }

    .texto {
        text-align:center;
    }

    .link {
        margin: 0 auto;
    }
}